.signup-container h1{
    text-align: center;
    padding-bottom: 25px
}
.form-control{
    width: 100%;
    
}
.signup-container form{
    margin-left: 50px;
}
.form-right{
    position: relative;
}
.sub{
    position: absolute;
    left: 30%;
}